body{
    font-family: 'Courier New', monospace;
    background-color: #ffe8d6;
    font-size: large;
    }
    
    *{
        box-sizing: border-box;
    }
    
    /*----------------------------------*/

    .container{
        padding-top: 5px;
        padding-bottom: 5px;
        background-color:rgba(255, 255, 255, 0.656);
         
    }

    #titlePage{
        text-align: center;
        color: #6b705c;
        font-size: 38px;
        letter-spacing: 10px;
    }

    /* backround  */
    #bg_title{
        padding: 10px;
        background-image: url('https://i.pinimg.com/564x/c2/97/dd/c297ddc093bce69f18a2fb7eca662f15.jpg');
        background-position: center;
        background-size: 15%;
        background-repeat: repeat;
    }


      /* nav section  */ 

      .navBar{
        border: 1px #ded7d1 solid;
       }

    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    li{
        float: left;
    }

    li a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: rgb(22, 2, 2);
        font-size: 15px;
        margin-left: 20px;
        margin-right: 20px;
        opacity: 0.8;
    }

    a:hover{
        background-color: rgba(194, 194, 194, 0.486);
        color: #6b705c;
        opacity: 0.9;
    }

    .div{
        padding: 10px;
        margin: 20px;
    }

    /* section books  */
    
    /* ------------------ ADD ----------------------- */
    #addingBooks,#tableReservations,#addedBooks{
        font-family: 'Menlo', monospace;
        text-align: center;
        letter-spacing: 3px;
        padding: 5px;
        font-size: 20px;
        color: #cb997e;
        
    }
    
    form{
        text-align: center;
        padding: 0px 20px 0px 20px;
       
    }

    
    input[type=text]{
        width: 20%;
        height: 5px;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        outline: none;
        background: rgb(255, 255, 255);
        border-radius: 12px;
    }

    #addBtn{
        width: 10%;
        margin: 0;
        background-color: #6b705c;
        
    }


    hr{
        width: 50%;
        height: 5px;
        background-color: bisque;
        border-radius: 5px;
        border: none;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    /* ------------------ TABLE RESERVATIONS ---------------  */

    .tableReserv{
        
        border: 1px solid rgb(114, 113, 113);
        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;
        width: 30%;
        margin-bottom: 10px;
    }

    thead{
        background-color: #6b705c;
        text-align: center;
        color: white;
       }
   
    tr{
           border: 1px solid rgb(114, 113, 113);
           text-align: center;
           
       }
   
    tr:hover{
           background-color: rgb(238, 228, 210);
           color: teal;
           opacity: 0.5;
   
       }
   
    td,th{
           padding: 10px;
       }
  
    /* ------------ TABLE LIBRARY --------------------- */


    .listOfBooks{
        margin-bottom: 40px;
    }

    #bookTable{
        border: 1px solid rgb(114, 113, 113);
        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;
        width: 50%;
        margin-bottom: 10px;
       
        
    }

    /* section : modal1  */

    .modal{
        width: 100%;
        height: 200%;
        background-color: rgba(0,0,0,0.7);
        position: absolute;
        top:0;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }
    
    .modal-content{
        width: 500px;
        height: 330px;
        background-color: rgb(184, 179, 179);
        border-radius: 4px;
        text-align: center;
        padding: 20px;
        position: relative;

    }

   .modal-content .inputFields{
        width: 50%;
        display: block;
        margin: 15px auto;
    }

    button{
        
        background-color: rgb(3, 36, 32);
        font-size: medium;
        color:white;
        border: none;
        font-family: 'Menlo', monospace;
        cursor:pointer;
        padding: 10px;
       
        width: 5%;
        border-radius: 15px;
        opacity: 0.9;

    }

   .close{
       position: absolute;
       top: 0;
       right: 14px;
       font-size: 23px;
       transform: rotate(45deg);
       cursor: pointer;
   }

    #editBtn,#deleteBtn{
        width: 20%;
    }

     /* section : modal2  */

     .modal2{
        width: 100%;
        height: 200%;
        background-color: rgba(0,0,0,0.7);
        position: absolute;
        top:0;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }

    .close2{
        position: absolute;
        top: 0;
        right: 14px;
        font-size: 23px;
        transform: rotate(45deg);
        cursor: pointer;
    }

    #saveBtn{
        width: 20%;
    }
 